### Script to process BN datasets to correct format
Run script in thesis_venv.
Put target column at the end; & all columns (also categorical ones) are integer columns

In [25]:
import pandas as pd
import json
from sklearn import preprocessing

In [27]:
dataset_name = "Sachs2" # "Sachs" # "Asia" # "Cancer" #  "Cancer2" # 
real_file_root = "../BN_Datasets/" #"../Real_Datasets/" #
real_path = real_file_root + dataset_name+"/"+dataset_name
with open(real_path+"_meta.json") as json_file:
    meta = json.load(json_file)
categorical_cols = meta["categorical_cols"]
print("categorical_cols:", categorical_cols)

real_path = real_path +"_cat.csv"
real_data = pd.read_csv(real_path)
#categorical_cols = ["Pollution", "Smoker", "Cancer", "Pollution2", "Smoker2", "Cancer2"]
#categorical_cols = ["asia", "tub", "smoke", "either", "xray", "dysp"]
real_data.head()

categorical_cols: ['PKC', 'PKA', 'Mek', 'P38', 'Erk', 'Plcg']

    Akt  Erk  Mek  P38  PKA   PKC Plcg     Jnk     Raf    PIP2    PIP3
0   LOW  LOW  LOW  AVG  AVG   AVG  LOW -16.244  -8.934   2.063  10.151
1   LOW  AVG  AVG  LOW  AVG   AVG  LOW  -2.276 -11.339 -10.911 -12.699
2   LOW  LOW  AVG  LOW  AVG  HIGH  LOW  -2.313 -11.638 -13.709   0.554
3   LOW  AVG  LOW  LOW  AVG   LOW  LOW  -1.320  11.439 -12.647  12.881
4  HIGH  AVG  LOW  LOW  AVG   AVG  LOW -11.802 -12.972 -12.683 -13.319

In [28]:
# Manual labeling for Sachs data:
df = real_data
for c in categorical_cols:
    df.loc[df[c] == "HIGH", c] = 2
    df.loc[df[c] == "AVG", c] = 1
    df.loc[df[c] == "LOW", c] = 0
df.describe()

,Erk,Mek,P38,PKA,PKC,Plcg,Jnk,Raf,PIP2,PIP3
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000
mean,1.121560,0.538520,0.384700,0.911700,0.672040,0.29230,-5.529748,-3.608012,-9.445079,1.414191
std,0.616401,0.693604,0.690214,0.545701,0.639914,0.64649,7.895704,9.701022,6.618325,9.198595
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-19.662000,-20.091000,-21.595000,-19.363000
25%,1.000000,0.000000,0.000000,1.000000,0.000000,0.00000,-12.194000,-12.023250,-13.069000,-3.255250
50%,1.000000,0.000000,0.000000,1.000000,1.000000,0.00000,-9.098500,-7.750000,-11.523000,0.730000
75%,2.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.254000,2.051250,-9.513000,10.803000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,18.457000,20.627000,19.720000,19.336000

In [29]:
# Target Akt is the only binary col
df.loc[df["Akt"] == "HIGH", "Akt"] = 1
df.loc[df["Akt"] == "LOW", "Akt"] = 0
df.describe()

,Akt,Erk,Mek,P38,PKA,PKC,Plcg,Jnk,Raf,PIP2,PIP3
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.393200,1.121560,0.538520,0.384700,0.911700,0.672040,0.29230,-5.529748,-3.608012,-9.445079,1.414191
std,0.488465,0.616401,0.693604,0.690214,0.545701,0.639914,0.64649,7.895704,9.701022,6.618325,9.198595
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-19.662000,-20.091000,-21.595000,-19.363000
25%,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.00000,-12.194000,-12.023250,-13.069000,-3.255250
50%,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.00000,-9.098500,-7.750000,-11.523000,0.730000
75%,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.254000,2.051250,-9.513000,10.803000
max,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,18.457000,20.627000,19.720000,19.336000

In [38]:
# Manual labeling for Cancer data:
df = real_data
df.loc[df["Pollution"] == "low", "Pollution"] = 0
df.loc[df["Pollution"] == "high", "Pollution"] = 1
df.loc[df["Smoker"] == False, "Smoker"] = 0
df.loc[df["Smoker"] == True, "Smoker"] = 1
df.loc[df["Cancer"] == False, "Cancer"] = 0
df.loc[df["Cancer"] == True, "Cancer"] = 1
df.loc[df["Pollution2"] == "low", "Pollution2"] = 0
df.loc[df["Pollution2"] == "high", "Pollution2"] = 1
df.loc[df["Smoker2"] == False, "Smoker2"] = 0
df.loc[df["Smoker2"] == True, "Smoker2"] = 1
df.loc[df["Cancer2"] == False, "Cancer2"] = 0
df.loc[df["Cancer2"] == True, "Cancer2"] = 1

In [40]:
df.describe()

,Pollution,Smoker,Cancer,Xray,Dyspnoea,Pollution2,Smoker2,Cancer2,Xray2,Dyspnoea2
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.101660,0.301240,0.012260,-2.921832,-1.951158,0.100180,0.298200,0.011380,-2.884334,-1.955885
std,0.302204,0.458801,0.110045,4.523574,5.014896,0.300243,0.457472,0.106069,4.550225,5.007411
min,0.000000,0.000000,0.000000,-13.160000,-13.470000,0.000000,0.000000,0.000000,-12.787000,-12.493000
25%,0.000000,0.000000,0.000000,-5.947000,-5.729000,0.000000,0.000000,0.000000,-5.946000,-5.725000
50%,0.000000,0.000000,0.000000,-4.335000,-3.837500,0.000000,0.000000,0.000000,-4.315000,-3.834000
75%,0.000000,1.000000,0.000000,-1.788750,3.157250,0.000000,1.000000,0.000000,-1.685000,3.163250
max,1.000000,1.000000,1.000000,12.169000,12.189000,1.000000,1.000000,1.000000,13.621000,13.229000

General label encoder (check if it picks up intuitive encoding (yes/positive/True = 1, etc), otherwise encode manually as shown above)

In [4]:
real_ints = real_data
for c in categorical_cols:
    print("Processing column:", c, "\n")
    # make new LabelEncoder for each column:
    le = preprocessing.LabelEncoder()
    real_ints[c]=le.fit_transform(real_data[c])

Processing column: asia

Processing column: tub

Processing column: smoke

Processing column: either

Processing column: xray

Processing column: dysp

In [5]:
real_ints.head()

   asia  tub  smoke  either  xray  dysp   lung  bronc
0     0    0      0       0     0     0 -3.485 -2.918
1     0    0      1       0     0     0 -4.870 -1.293
2     0    0      1       0     0     0 -2.913 -6.009
3     0    0      0       0     0     0 -3.647 -5.145
4     0    0      1       0     0     1  0.340  4.343

### Put target column at the end

In [30]:
#df = real_ints
cols = df.columns.tolist()
cols

['Akt',
 'Erk',
 'Mek',
 'P38',
 'PKA',
 'PKC',
 'Plcg',
 'Jnk',
 'Raf',
 'PIP2',
 'PIP3']

In [31]:
# move element at index 5 to back:
#cols = cols[:5] + cols[5:] + [cols[5]]
cols = cols[1:] + [cols[0]]
cols

['Erk',
 'Mek',
 'P38',
 'PKA',
 'PKC',
 'Plcg',
 'Jnk',
 'Raf',
 'PIP2',
 'PIP3',
 'Akt']

In [32]:
df = df[cols]
df.head()

   Erk  Mek  P38  PKA  PKC  Plcg     Jnk     Raf    PIP2    PIP3  Akt
0    0    0    1    1    1     0 -16.244  -8.934   2.063  10.151    0
1    1    1    0    1    1     0  -2.276 -11.339 -10.911 -12.699    0
2    0    1    0    1    2     0  -2.313 -11.638 -13.709   0.554    0
3    1    0    0    1    0     0  -1.320  11.439 -12.647  12.881    0
4    1    0    0    1    1     0 -11.802 -12.972 -12.683 -13.319    1

In [33]:
real_path = real_file_root + dataset_name+"/"+dataset_name+".csv"
df.to_csv(real_path, index=False)